body {
    margin: 0;
    background-color: #000000;
    font-family: "Arimo";
}


h1 {
    font-family: "Arimo";
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin: 0;
}


.title {
    margin: 1.5em 0 0 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 70svh;
    border-radius: 10px;
    padding: 3em 0;
    background-color: #191919;
}

.emotion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoFeed {
    width: 70%;
    border-radius: 10px;
}

.detected-emotion {
    color: #ffffff;
}

.find-button {
    padding: 15px 150px;
    background-color: #191919;
    border: none;
    color: #ffffff;
    font-size: large;
    font-weight: 700;
}


.find-button:hover{
    background-color: #363636;
    border-radius: 10px;
}

.tracks-table {
    width: 80%;
    border-collapse: collapse;
    margin: 10% 0;
}
  
.tracks-table th, td {
    padding: 12px;
    border: 1px solid #3f3f3f;
    text-align: left;
}
  
.tracks-table th {
    background-color: #ddd;
    color: #000000;
    text-align: center;

}
  
.tracks-table tr:nth-child(n) {
    background-color: #191919;
    color: #ffffff;
}
